<p> test </p>

<%= create_charting_model_histogram(model_class_name: User.name, name_of_key: "last_connection", title: "About last connection") %>
<%= create_charting_model_histogram(model_class_name: User.name, name_of_key: ["setting_1", "setting_2", "points"], title: "About setting 1 and setting 2") %>
<%= create_charting_model_histogram(model_class_name: User.name, name_of_key: "points", title: "About score") %>
<%= create_charting_model_histogram(model_class_name: User.name, name_of_key: "setting_1", title: "About setting 1") %>
<%= create_charting_model_histogram(model_class_name: User.name, name_of_key: "setting_2", title: "About setting 2") %>
<%= create_charting_model_histogram(model_class_name: User.name, name_of_key: "setting_3", title: "About setting 3") %>


<% create_charting_area_hardcoded_scatter( Array.new(4){ rand(5) + 50 }, title: "test_title", axe_x_title: "test X title", axe_y_title: "test Y title") %>

<% create_charting_area_hardcoded_scatter( Array.new(100){ rand(100) + 5 }, title: "test_title", axe_x_title: "test X title", axe_y_title: "test Y title") %>

<% create_charting_area_hardcoded_scatter( Array.new(1000){ rand(1000) + 50 }, title: "test_title2", axe_x_title: "test X title #2", axe_y_title: "test Y other title", offset_left: 60) %>

<div style="width: 50%; border: black 2px solid; padding: 2px; display: block; min-height: 100px;">

<% create_charting_area_hardcoded_scatter( Array.new(1000){ rand(1000) + 50 }, title: "test_half_block", axe_x_title: "test X title #3", axe_y_title: "Y  #3", bordered: false) %>

</div>

